
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>

.footer {
  padding: 10px; /* Some padding */
  text-align: left; /* Center text*/
  background: #ddd; /* Grey background */
}

</style>
<div class="footer">
    <h2>Contact</h2>
</div>