@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    /* Ensure proper sizing */
    * {
        box-sizing: border-box;
    }

    /* Column container */
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    /* Fake image, just for this example */
    .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }
</style>
<div class="main">
    <h2>Titel</h2>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Beschrijving</p>
    <br>
    <h2>Titel</h2>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Beschrijving</p>
</div>
