
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fishbait</title>
    Episch!
    @RenderBody()
</head>
<body>
</body>
</html>
